@{
    Layout = "~/Plantillas/_Plantilla.cshtml";    
    Page.Title = "Crear un nuevo Post";

    var titulo = Request["Titulo"];
    var fecha = Request["Fecha"];
    var resumen = Request["Resumen"];
    var contenido = Request["Contenido"];

    // Validamos en POST no en el GET inicial
    if(IsPost) 
    {
        if(titulo.IsEmpty()) 
        {
            ModelState.AddError("Titulo", "Te has olvidado el título, nen.");
        }
        if(fecha.IsEmpty()) 
        {
            ModelState.AddError("Fecha","¿No sabes en que día vives o que?");
        }
        if(resumen.IsEmpty()) 
        {
            ModelState.AddError("Resumen","Pon algo interesante para que salga en el blogroll");
        }
        if(contenido.IsEmpty()) 
        {
            ModelState.AddError("Contenido","Pero, ¿tu no querias escribir un post? Pues veeenga...");
        }
    }
   
}

 @if(IsPost && ModelState.IsValid)
    {
        Database.Open("Blog")
            .Execute("INSERT INTO Posts (Titulo, Fecha, Resumen, Contenido)" + 
            "VALUES(@0,@1,@2,@3)", 
            titulo, fecha, resumen, contenido);

            <!-- Guardamos la salida para hacer debug 
            <div>
                <h2>Valores posteados</h2>

                <p>
                    <label>Titulo</label>
                    <span>@titulo</span>
                </p>

                <p>
                    <label>Resumen </label>
                    <span>@resumen</span>
                </p>

                <p>
                    <label>Contenido</label>
                    <span>@contenido</span>
                </p>

            </div>
            -->
    }

        <h1>@Page.Title</h1>

        <form method="post" action="">
            <div>
                
                @Html.ValidationSummary()

                <div>
                    @Html.ValidationMessage("Titulo","*")
                    <label for="Titulo">Título</label>
                    <input type="text" name="Titulo" value="@titulo" />
                </div>

                <div>
                    @Html.ValidationMessage("Fecha","*")
                    <label for="Fecha">Fecha</label>
                    <input type="datetime" name="Fecha" value="@fecha" />
                </div>

                <div>
                    @Html.ValidationMessage("Resumen","*")
                    <label for="Resumen">Resumen</label>
                    <input type="text" name="Resumen" value="@resumen" />
                </div>

                <div>
                    @Html.ValidationMessage("Contenido","*")
                    <label for="Contenido">Contenido</label>
                    <textarea cols="60" rows="10" name="Contenido">
                        @contenido
                    </textarea>
                </div>

                <div class="botonera">
                    <button class="button success small" type="submit">Publicar</button>
                    <button class="button alert small" type="reset">Borrar</button>
                </div>

            </div>
        </form>
        <hr />

